language: python
env:
    CODECOV_TOKEN="7342acb6-63a7-4bd8-9f2c-e22b9bfb6a71"
python:
    - "3.6"
before_install:
    - pip install pytest pytest-cov
    - pip install codecov
script:
    - pytest --cov=AutoDiff test/
after_success:
    - codecov
